<!DOCTYPE html><!--Copyright 2015,2016,2019,2022 JS Foundation and other contributors, https://js.foundation/ https://www.apache.org/licenses/LICENSE-2.0-->
<!--  <html> -->
<html>   <!-- manifest="dashboard.appcache"> -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="V2 DBoard">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#097479">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json" crossorigin="use-credentials">
    <link rel="icon" sizes="192x192" href="icon192x192.png">
    <link rel="shortcut icon" type="image/png" href="icon64x64.png">
    <link rel="apple-touch-icon" href="icon120x120.png">
    <!-- build:css -->
    <link rel="stylesheet" href="vendor/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="vendor/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="vendor/material-design-icons-iconfont/dist/material-design-icons.css">
    <link rel="stylesheet" href="vendor/weather-icons-lite/css/weather-icons-lite.css">
    <link rel="stylesheet" href="vendor/angularjs-color-picker/dist/angularjs-color-picker.min.css">
    <link rel="stylesheet" href="components/ui-component/templates/button.css">
    <link rel="stylesheet" href="components/ui-component/templates/chart.css">
    <link rel="stylesheet" href="components/ui-component/templates/colour-picker.css">
    <link rel="stylesheet" href="components/ui-component/templates/date-picker.css">
    <link rel="stylesheet" href="components/ui-component/templates/dropdown.css">
    <link rel="stylesheet" href="components/ui-component/templates/gauge.css">
    <link rel="stylesheet" href="components/ui-component/templates/numeric.css">
    <link rel="stylesheet" href="components/ui-component/templates/slider.css">
    <link rel="stylesheet" href="components/ui-component/templates/spacer.css">
    <link rel="stylesheet" href="components/ui-component/templates/switch.css">
    <link rel="stylesheet" href="components/ui-component/templates/text-input.css">
    <link rel="stylesheet" href="components/ui-component/templates/text.css">
    <link rel="stylesheet" href="components/ui-component/templates/template.css">
    <link rel="stylesheet" href="components/ui-component/templates/form.css">
    <link rel="stylesheet" href="components/ui-card-panel/ui-card-panel.css">
    <!-- endbuild -->
    <!-- build:less -->
    <link rel="stylesheet/less" href="main.less">
    <link rel="stylesheet/less" href="theme.less">
    <!-- endbuild -->
    <title></title>
</head>
<body id="nr-dashboard"
    ng-app="ui"
    ng-controller="MainController as main"
    ng-cloak layout="column"
    style="background: {{main.backgroundColor}}"
    class="nr-dashboard-theme"
    ng-swipe-right="onSwipeRight();"
    ng-swipe-left="onSwipeLeft();"
    ng-attr-ng-swipe-disable-mouse="{{main.allowSwipe !== 'mouse' ? '' : undefined}}"
    >
<md-content ng-if="main.loaded" ng-include="'partials/main.html'" layout="column" flex></md-content>
<div ng-if="!main.loaded && !main.nothing" ng-include="'loading.html'" class="dash-dboard-ui--loading"></div>
<div ng-if="main.nothing" class="dash-dboard-ui--notabs">
    <table><tr><td><center><img src="icon120x120.png"/></center></td></tr>
    <tr><td><center><h2>Welcome to V2</h2></center></td></tr>
    <tr><td><center>Please add some UI.</center></td></tr></table>
</div>
<script src="socket.io/socket.io.js"></script>
<!-- build:js -->
<script src="vendor/jquery/dist/jquery.min.js"></script>
<script src="vendor/angular/angular.min.js"></script>
<script src="vendor/angular-sanitize/angular-sanitize.min.js"></script>
<script src="vendor/angular-touch/angular-touch.min.js"></script>
<script src="vendor/angular-animate/angular-animate.min.js"></script>
<script src="vendor/angular-material/angular-material.min.js"></script>
<script src="vendor/angular-aria/angular-aria.min.js"></script>
<script src="vendor/angular-route/angular-route.min.js"></script>
<script src="vendor/angular-material-icons/angular-material-icons.min.js"></script>
<script src="vendor/sprintf-js/dist/sprintf.min.js"></script>
<script src="vendor/sprintf-js/dist/angular-sprintf.min.js"></script>
<script src="vendor/svg-morpheus/compile/unminified/svg-morpheus.js"></script>
<script src="vendor/less/dist/less.min.js"></script>
<!-- for new charts -->
<script src="vendor/moment/min/moment-with-locales.min.js"></script>
<script src="vendor/chart.js/dist/Chart.min.js"></script>
<script src="vendor/angular-chart.js/dist/angular-chart.min.js"></script>
<!--gauge-->
<script src="vendor/d3/d3.min.js"></script>
<script src="vendor/justgage/raphael.min.js"></script>
<script src="vendor/justgage/justgage.js"></script>
<script src="components/ui-gauge/liquidFillGauge.js"></script>
<!--colour picker-->
<script src="vendor/tinycolor2/dist/tinycolor-min.js"></script>
<script src="vendor/angularjs-color-picker/dist/angularjs-color-picker.min.js"></script>
<script src="main.js"></script>
<script src="services/events.js"></script>
<script src="services/sizes.js"></script>
<script src="directives/ui-template.js"></script>
<script src="directives/ui-highlight.js"></script>
<script src="directives/ui-colour-picker.js"></script>
<!-- <script src="directives/ui-touchend.js"></script> -->
<script src="components/ui-component/ui-component.js"></script>
<script src="components/ui-component/ui-component-ctrl.js"></script>
<script src="components/ui-gauge/ui-gauge.js"></script>
<script src="components/ui-chart-js/ui-chart-js.js"></script>
<script src="components/ui-card-panel/ui-card-panel.js"></script>
<script src="components/ui-card-panel/ui-card-panel-ctrl.js"></script>
<script src="components/ui-card-panel/ui-card-size.js"></script>
<script src="components/ui-card-panel/ui-masonry.js"></script>
<script src="components/ui-icon/ui-icon.js"></script>
<script src="filters/chartGetRange.js"></script>
<script src="filters/trusted.js"></script>
<script src="filters/spaceToUnderscore.js"></script>
<!-- endbuild -->
<script src="i18n.js"></script>
</body>
</html>
